# Telegram Bot Token (получите у @BotFather)
BOT_TOKEN=8368275151:AAF9r4WtDRW39EPAv35vHJ4FA1I6AT6P71Q

# URL веб-приложения (для продакшена замените на ваш домен)
WEB_APP_URL=https://www.apple.com/

# Порт для бота (опционально)
PORT=3001


